<?xml version="1.0" encoding="UTF-8" ?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="draw2d" class="com.example.spring_training.draw.Draw2d" />
    <bean id="draw3d" class="com.example.spring_training.draw.Draw3d" />

    <bean id="singletonCircle" class="com.example.spring_training.shape.Circle">
        <constructor-arg name="draw2d" ref="draw2d"/>
        <constructor-arg name="draw3d" ref="draw3d"/>
    </bean>

    <bean id="prototypeCircle" class="com.example.spring_training.shape.Circle" scope="prototype">
        <constructor-arg name="draw2d" ref="draw2d"/>
        <constructor-arg name="draw3d" ref="draw3d"/>
    </bean>

    <bean class="com.example.spring_training.shape.Square">
        <property name="draw2d" ref="draw2d"/>
        <property name="draw3d" ref="draw3d"/>
    </bean>

    <bean id="databaseOperation" class="com.example.spring_training.database.DatabaseOperation" init-method="connectToDatabase" destroy-method="disconnectFromDatabase"/>

</beans>